@model FlexAirFit.Web.Models.ClientProductModel

<h1>Покупка товара</h1>

<div>
    <label for="product-name">Название товара:</label>
    <input type="text" id="product-name" value="@Model.Name" readonly>
</div>
<div>
    <label for="product-cost">Сумма к оплате:</label>
    <input type="text" id="product-cost" value="@Model.Cost" readonly>
</div>
